ASTService/TruckStopService/Connected Services/TruckStopServiceReference/LoadPosting2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Truckstop2.Objects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Truckstop2.Objects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/V13/Posting/LoadPosting.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfTrailerOptionType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TrailerOptionType" type="tns:TrailerOptionType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTrailerOptionType" nillable="true" type="tns:ArrayOfTrailerOptionType" />
  <xs:simpleType name="TrailerOptionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Tarps">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Hazardous">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PalletExchange">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Team">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Expedited">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TrailerOptionType" nillable="true" type="tns:TrailerOptionType" />
  <xs:complexType name="EquipmentTypes">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullLoad" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsCategorizable" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsCombo" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsTruckPost" type="xs:boolean" />
      <xs:element minOccurs="0" name="MapToId" type="xs:int" />
      <xs:element minOccurs="0" name="RequiredOption" nillable="true" type="tns:TrailerOptionType" />
      <xs:element minOccurs="0" name="WebserviceOnly" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EquipmentTypes" nillable="true" type="tns:EquipmentTypes" />
</xs:schema>