ASTService/TruckStopService/Connected Services/TruckStopServiceReference/LoadPosting1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebServices.Objects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebServices.Objects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/V13/Posting/LoadPosting.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Truckstop2.Objects" />
  <xs:import schemaLocation="http://localhost:8080/V13/Posting/LoadPosting.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:8080/V13/Posting/LoadPosting.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WebServices" />
  <xs:complexType name="ArrayOfLoad">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Load" nillable="true" type="tns:Load" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLoad" nillable="true" type="tns:ArrayOfLoad" />
  <xs:complexType name="Load">
    <xs:sequence>
      <xs:element minOccurs="0" name="Affiliate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Credit" nillable="true" type="xs:string" />
      <xs:element name="DeliveryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DeliveryTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DestinationCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DestinationCountry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DestinationState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Distance" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EquipmentID" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Truckstop2.Objects" minOccurs="0" name="EquipmentOptions" nillable="true" type="q1:ArrayOfTrailerOptionType" />
      <xs:element minOccurs="0" name="FuelPrice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsDaily" type="xs:boolean" />
      <xs:element name="IsFavorite" type="xs:boolean" />
      <xs:element name="IsLoadFull" type="xs:boolean" />
      <xs:element minOccurs="0" name="Length" nillable="true" type="xs:string" />
      <xs:element name="LoadId" type="xs:int" />
      <xs:element minOccurs="0" name="LoadNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mileage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OriginCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OriginCountry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OriginState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentAmount" nillable="true" type="xs:string" />
      <xs:element name="PickUpDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PickUpTime" nillable="true" type="xs:string" />
      <xs:element name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="SpecInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Stops" nillable="true" type="xs:string" />
      <xs:element name="TypeOfEquipment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Weight" nillable="true" type="xs:string" />
      <xs:element name="Width" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Load" nillable="true" type="tns:Load" />
  <xs:complexType name="LoadPostingReturn">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/WebServices" base="q2:ReturnBase">
        <xs:sequence>
          <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="LoadNumbers" nillable="true" type="q3:ArrayOfstring" />
          <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Loads" nillable="true" type="q4:ArrayOfint" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LoadPostingReturn" nillable="true" type="tns:LoadPostingReturn" />
  <xs:complexType name="LoadPostingListReturn">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/WebServices" base="q5:ReturnBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Loads" nillable="true" type="tns:ArrayOfPostResult" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LoadPostingListReturn" nillable="true" type="tns:LoadPostingListReturn" />
  <xs:complexType name="ArrayOfPostResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PostResult" nillable="true" type="tns:PostResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPostResult" nillable="true" type="tns:ArrayOfPostResult" />
  <xs:complexType name="PostResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="DestinationCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DestinationCountry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DestinationState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Equipment" nillable="true" type="xs:string" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Truckstop2.Objects" minOccurs="0" name="EquipmentOptions" nillable="true" type="q6:ArrayOfTrailerOptionType" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Truckstop2.Objects" minOccurs="0" name="EquipmentTypes" nillable="true" type="q7:EquipmentTypes" />
      <xs:element minOccurs="0" name="HandleName" nillable="true" type="xs:string" />
      <xs:element name="Id" type="xs:int" />
      <xs:element name="IsFull" type="xs:boolean" />
      <xs:element minOccurs="0" name="LoadNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoadViewCount" type="xs:int" />
      <xs:element minOccurs="0" name="OriginCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OriginCountry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OriginState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Payment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PickupDate" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PostResult" nillable="true" type="tns:PostResult" />
  <xs:complexType name="LoadViewsReturn">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/WebServices" base="q8:ReturnBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="LoadViews" nillable="true" type="tns:ArrayOfLoadView" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LoadViewsReturn" nillable="true" type="tns:LoadViewsReturn" />
  <xs:complexType name="ArrayOfLoadView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LoadView" nillable="true" type="tns:LoadView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLoadView" nillable="true" type="tns:ArrayOfLoadView" />
  <xs:complexType name="LoadView">
    <xs:sequence>
      <xs:element minOccurs="0" name="CarrierRating" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyHomeState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DispatchName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DispatchPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Handle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsFriend" type="xs:boolean" />
      <xs:element minOccurs="0" name="ViewDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoadView" nillable="true" type="tns:LoadView" />
</xs:schema>